<div class="flex flex-col items-center justify-center h-screen bg-gray-800 px-10">
  <!-- Header con il bottone Close e la card del conteggio -->
  <div class="w-full flex justify-end p-2">
    <!-- Card Conteggio -->
    <div
      class="flex items-center justify-center mr-2 bg-white rounded-lg text-blue-500 px-4 py-2 hover:bg-gray-100 focus:outline-none">
      <span class="material-icons">assessment</span>
      <span class="ml-2">Conteggio: {{ valoreReale | number: '1.2-2' }}</span>
    </div>

    <!-- Bottone Close -->
    <button
      class="flex items-center justify-center w-10 h-10 bg-white rounded-lg text-blue-500 hover:bg-gray-100 focus:outline-none"
      (click)="goToHomePage()">
      <span class="material-icons">close</span>
    </button>
  </div>

  <!-- Player and Dealer Section -->
  <div class="flex justify-between items-center w-full my-8">
    <!-- Player Card -->
    <div class="cardWhite flex-1 mx-3 p-6 flex flex-col justify-start items-center" style="height: 600px;">
      <h2 class="text-3xl font-bold mb-4 self-center">Player: <span>{{ playerUsername }}</span></h2>
      <div class="self-center">
        <h3 class="text-2xl font-bold mb-2">Cards: </h3>
        <ng-container *ngFor="let carta of cartePlayer">
          <div class="flex items-center justify-center mb-2">
            <div
              class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-yellow-500/20 text-yellow-600 py-2 px-4 text-base rounded-md">
              <span>Suit: {{ carta.seme }}</span>
            </div>
            <div
              class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-purple-500/20 text-purple-600 py-2 px-4 text-base rounded-md ml-2">
              <span>Value: {{ carta.valore }}</span>
            </div>
          </div>
        </ng-container>
        <div class="mt-4 self-center">
          <h3 class="text-2xl font-bold">Score:</h3>
          <div class="w-max">
            <div
              class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-green-500/20 text-green-600 py-3 px-5 text-lg rounded-md">
              <span>{{ scorePlayer }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Warning Card, vertically centered -->
    <!-- Warning Card with dynamic styling based on game outcome -->
    <div
      class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none py-2 px-4 text-base rounded-md"
      [ngClass]="{
  'bg-green-500/20 text-green-600': warningMessage === 'Hai vinto!',
  'bg-red-500/20 text-red-600': warningMessage === 'Hai perso!',
  'bg-gray-500/20 text-gray-600': warningMessage === 'Pareggio!',
  'hidden': !warningMessage
}">
      <span>{{ warningMessage }}</span>
    </div>


    <!-- Dealer Card -->
    <div class="cardWhite flex-1 mx-3 p-6 flex flex-col justify-start items-center" style="height: 600px;">
      <h2 class="text-3xl font-bold mb-4 self-center">Dealer</h2>
      <div class="self-center">
        <h3 class="text-2xl font-bold mb-2">Cards:</h3>
        <ng-container *ngFor="let carta of carteDealer">
          <div class="flex items-center justify-center mb-2">
            <div
              class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-yellow-500/20 text-yellow-600 py-2 px-4 text-base rounded-md">
              <span>Suit: {{ carta.seme }}</span>
            </div>
            <div
              class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-purple-500/20 text-purple-600 py-2 px-4 text-base rounded-md ml-2">
              <span>Value: {{ carta.valore }}</span>
            </div>
          </div>
        </ng-container>
        <div class="mt-4 self-center">
          <h3 class="text-2xl font-bold">Score:</h3>
          <div class="w-max">
            <div
              class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-green-500/20 text-green-600 py-3 px-5 text-lg rounded-md">
              <span>{{ scoreDealer }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Control Buttons, Wager, and Cash/Winning Section -->
  <div class="flex items-end w-full">
    <!-- Wager -->
    <div class="flex flex-col items-center mr-12">
      <label for="wager" class="text-white mb-2">Wager:</label>
      <input type="number" id="wager" [(ngModel)]="wager" class="inputBox w-48" placeholder="Enter your wager"
        [disabled]="!dealAttivo">
    </div>

    <!-- Game Control Buttons -->

    <!-- TODO: Scommentare questo quando sarà fixato il BE -->
    <!-- COMMAND PULSANTII  -->
    <div class="flex space-x-4 mr-12">
      <button *ngFor="let command of availableCommands"
        [class]="!dealAttivo && command !== 'Deal' ? 'buttonBlueAction text-lg px-6 py-3' : 'buttonBlueAction text-lg px-6 py-3 opacity-50'"
        (click)="onCommandClick(command)">
        {{ command }}
      </button>
    </div>


    <!-- Cash/Winning Card -->
    <div class="cardWhite p-6 h-20 w-96">
      <div class="flex justify-around text-center -mt-2">
        <div>
          <h3 class="text-lg font-medium">Cash:</h3>
          <p>{{ playerCash }}</p>
        </div>
        <div>
          <h3 class="text-lg font-medium">Winning:</h3>
          <p>{{ playerWinning }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
