.map-containerCreaTabacchi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frameCreaTabacchi {
    height: 100%;
  }
  
  #mapCreaTabacchi {
    height: 100%;
  }
  