<div class="h-screen font-sans registration bg-cover">
  <div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <!-- Rimossi (ngSubmit) e [formGroup], usiamo (click) sul bottone di registrazione -->
        <div class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl">
          <p class="text-white text-center text-lg font-bold">REGISTRAZIONE</p>

          <!-- Aggiornato per utilizzare [(ngModel)] e name -->
          <!-- Campo Nome -->
          <div>
            <label class="block text-sm text-white" for="nome">Nome</label>
            <input class="w-full inputBox" [(ngModel)]="nome" name="nome" id="nome" placeholder="Inserisci il tuo nome"
              required>
          </div>

          <!-- Campo Cognome -->
          <div>
            <label class="block text-sm text-white" for="cognome">Cognome</label>
            <input class="w-full inputBox" [(ngModel)]="cognome" name="cognome" id="cognome"
              placeholder="Inserisci il tuo cognome" required>
          </div>

          <!-- Campo Email -->
          <div>
            <label class="block text-sm text-white" for="email">Email</label>
            <input class="w-full inputBox" [(ngModel)]="email" name="email" id="email"
              placeholder="Inserisci la tua email" required>
          </div>

          <!-- Campo Username -->
          <div>
            <label class="block text-sm text-white" for="username">Username</label>
            <input class="w-full inputBox" [(ngModel)]="username" name="username" id="username"
              placeholder="Inserisci il tuo username" required>
          </div>

          <!-- Campo Data di Nascita -->
          <div class="mt-2">
            <label class="block text-sm text-white" for="dataNascita">Data di Nascita</label>
            <input type="date" class="w-full inputBox" [(ngModel)]="dataNascita" name="dataNascita" id="dataNascita"
              required>
          </div>

          <!-- Campo Password -->
          <div class="mt-2">
            <label class="block text-sm text-white" for="password">Password</label>
            <input type="password" class="w-full inputBox" [(ngModel)]="password" name="password" id="password"
              placeholder="Digita la tua password" required>
          </div>

          <!-- Campo Ripeti Password -->
          <div class="mt-2">
            <label class="block text-sm text-white" for="ripeti_password">Ripeti Password</label>
            <input type="password" class="w-full inputBox" [(ngModel)]="passwordRipetuta" name="ripeti_password"
              id="ripeti_password" placeholder="Ripeti la tua password" required>
          </div>

          <!-- Bottone di Registrazione -->
          <div class="mt-4 items-center flex justify-between">
            <button [disabled]="password!=passwordRipetuta" (click)="register()"
              class="buttonBlueAction">Registra</button>
            <button (click)="goToLogin()" class="buttonBlueAction">Vai al
              Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
